<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Robostick"
        tools:targetApi="31">
        <activity
            android:name=".Teachers.WorkShopPhotosandForm"
            android:exported="false" />
        <activity
            android:name=".Teachers.TeachersWorkshops"
            android:exported="false" />
        <activity
            android:name=".Teachers.TeacherActivity"
            android:exported="false" />
        <activity
            android:name=".courseslist"
            android:exported="false" />
        <activity
            android:name=".OtherActivities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Students.MediaDisplayActivity2"
            android:exported="false" />
        <activity
            android:name=".Students.AdultCourseActivity"
            android:exported="false" />
        <activity
            android:name=".Students.MediaDiaplayActivity"
            android:exported="false" />
        <activity
            android:name=".Students.ChildCourseActivity"
            android:exported="false" />
        <activity
            android:name=".Students.StudentActivity"
            android:exported="false" />
        <activity
            android:name=".OtherActivities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagment.SigninActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserManagment.LoginActivity"
            android:exported="false" />
    </application>

</manifest>